.archive article .entry-meta,
.additional-post .section-grid .entry-meta,
.search article .entry-meta {
  position: initial;
  margin-top: 16px;
  @include media(lg) {
    margin-left: 15px;
  }
}

.layout-grid.rightsidebar
  .content-wrap-main
  article
  .entry-header
  .entry-details,
.layout-grid.leftsidebar
  .content-wrap-main
  article
  .entry-header
  .entry-details,
.additional-post .section-grid .entry-header {
  padding: 12px 25px 0 25px;
  @include media(lg) {
    padding: 12px 15px 0 15px;
  }
}

.category #primary .site-main article .auth-details .author-name,
.archive .auth-details .author-details .author-name {
  border-right: 1px solid #e0e0e0;
}

.author a {
  color: var(--glt-header-text);
}

// Inner popst
.single-post .content-area .site-main .post-image .entry-header .category a,
.single-post .content-area .site-main .entry-footer a,
.comments-area
  .comment-respond
  .comment-form
  .form-submit
  input[type="submit"] {
  border-radius: 0px;
}

.single-post
  .content-area
  .site-main
  .post-image
  .entry-header
  .auth-details
  .date {
  display: inline-block;
  padding-left: 14px;
  border-left: 1px solid #e0e0e0;
}

.author article .post-thumbnail img,
.author article .post-thumbnail svg,
.archive article .post-thumbnail img,
.archive article .post-thumbnail svg,
.error404 .post-thumbnail img,
.search article .post-thumbnail img,
.additional-post img,
.additional-post svg,
img,
.post-navigation.pagination .nav-links .nav-previous img,
.post-navigation.pagination .nav-links .nav-previous svg,
.post-navigation.pagination .nav-links .post img,
.post-navigation.pagination .nav-links .post svg,
.post-navigation.pagination .nav-links .nav-next .post img,
.post-navigation.pagination .nav-links .nav-next .post svg rect {
  border-radius: 0px;
}

.archive article .entry-details h3,
.search article .content-wrap .entry-title {
  font-size: 1.333em;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family: var(--glt-primary-font);
  a {
    color: var(--glt-header-text) !important;
  }
}

.archive a {
  color: var(--glt-header-text) !important;
}
.archive .site-footer a {
  color: #fff !important;
  &:hover {
    color: var(--glt-secondary-color) !important;
  }
}

.archive .nav-links a {
  color: #fff !important;
  &:hover {
    color: var(--glt-primary-color) !important;
  }
}

.archive .footer-bottom .site-info a {
  color: var(--glt-secondary-color) !important;
}

.search article .content-wrap .entry-title {
  margin-top: 12px;
}
.search article .content-wrap {
  padding: 0px 25px 16px 25px;
}
