.site-header .header-wrapper .header-left ul li.menu-item-has-children::after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 17.625C11.8522 17.6252 11.7059 17.5962 11.5694 17.5396C11.4329 17.4831 11.3089 17.4001 11.2045 17.2955L3.70453 9.79547C3.49639 9.58391 3.38028 9.29868 3.38149 9.0019C3.3827 8.70512 3.50113 8.42084 3.71098 8.21098C3.92084 8.00113 4.20512 7.8827 4.5019 7.88149C4.79868 7.88028 5.08391 7.99639 5.29547 8.20453L12 14.909L18.7045 8.20453C18.9161 7.99639 19.2013 7.88028 19.4981 7.88149C19.7949 7.8827 20.0792 8.00113 20.289 8.21098C20.4989 8.42084 20.6173 8.70512 20.6185 9.0019C20.6197 9.29868 20.5036 9.58391 20.2955 9.79547L12.7955 17.2955C12.6911 17.4001 12.5671 17.4831 12.4306 17.5396C12.2941 17.5962 12.1478 17.6252 12 17.625Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 12px;
  height: 12px;
  right: 12px;
}

.widget.widget_block.widget_search form button.wp-block-search__button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M15.0298 13.4676L12.4874 10.9252C13.4246 9.71834 13.8666 8.19964 13.7234 6.67832C13.5802 5.157 12.8627 3.74743 11.7168 2.73657C10.5708 1.72572 9.08277 1.18958 7.55547 1.23731C6.02817 1.28503 4.57647 1.91304 3.49592 2.99346C2.41536 4.07389 1.78719 5.52552 1.73928 7.05281C1.69138 8.5801 2.22734 10.0682 3.23806 11.2143C4.24878 12.3603 5.65827 13.078 7.17957 13.2214C8.70088 13.3647 10.2196 12.9229 11.4266 11.9859L13.9691 14.5282C14.0385 14.5988 14.1212 14.6549 14.2125 14.6934C14.3037 14.7318 14.4016 14.7518 14.5006 14.7522C14.5997 14.7526 14.6978 14.7334 14.7893 14.6957C14.8808 14.658 14.964 14.6026 15.034 14.5326C15.104 14.4626 15.1595 14.3794 15.1972 14.2878C15.2349 14.1963 15.2541 14.0982 15.2537 13.9992C15.2533 13.9002 15.2333 13.8022 15.1948 13.711C15.1564 13.6198 15.1003 13.537 15.0297 13.4676H15.0298ZM3.24976 7.24786C3.24976 6.35785 3.51368 5.48782 4.00814 4.7478C4.50261 4.00777 5.20541 3.431 6.02768 3.0904C6.84995 2.74981 7.75475 2.66069 8.62766 2.83433C9.50058 3.00796 10.3024 3.43655 10.9317 4.06588C11.5611 4.69522 11.9897 5.49704 12.1633 6.36996C12.3369 7.24287 12.2478 8.14767 11.9072 8.96994C11.5666 9.79221 10.9898 10.495 10.2498 10.9895C9.5098 11.4839 8.63977 11.7479 7.74976 11.7479C6.55669 11.7465 5.41288 11.272 4.56926 10.4284C3.72563 9.58474 3.2511 8.44093 3.24976 7.24786Z' fill='black'/%3E%3C/svg%3E");
  height: 48px;
}

.widget.widget_categories .wp-block-categories-list li::before,
.widget.widget_block.widget_block .wp-block-categories-list li::before,
.wp-block-archives li::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M14.5303 8.53381L10.0303 13.0338C9.88927 13.1726 9.69912 13.25 9.50126 13.2492C9.30341 13.2484 9.11389 13.1694 8.97399 13.0295C8.83408 12.8896 8.75513 12.7001 8.75432 12.5022C8.75352 12.3044 8.83093 12.1142 8.96969 11.9732L12.1893 8.75349H3C2.80109 8.75349 2.61032 8.67448 2.46967 8.53382C2.32902 8.39317 2.25 8.20241 2.25 8.00349C2.25 7.80458 2.32902 7.61382 2.46967 7.47316C2.61032 7.33251 2.80109 7.25349 3 7.25349H12.1894L8.96969 4.03381C8.83093 3.89277 8.75352 3.70261 8.75432 3.50476C8.75513 3.30691 8.83408 3.11739 8.97399 2.97748C9.11389 2.83758 9.30341 2.75862 9.50126 2.75782C9.69912 2.75701 9.88927 2.83442 10.0303 2.97318L14.5303 7.47318C14.671 7.61383 14.75 7.80459 14.75 8.00349C14.75 8.2024 14.671 8.39316 14.5303 8.53381V8.53381Z' fill='white'/%3E%3C/svg%3E");
  height: 16px;
  width: 16px;
}

.wp-block-archives li{
  position: relative;
  font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding-left: 12px;
}
.wp-block-archives li::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-main .entry-content ul li::before, .site-main .entry-content ol li::before{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.344' height='9.413' viewBox='0 0 5.344 9.413'%3E%3Cpath id='Path_20' data-name='Path 20' d='M1163.323,5568.983l3.813,4.25-4.138,3.75' transform='translate(-1162.292 -5568.277)' fill='none' stroke='%23312e81' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E");
}